header{
    Background-color: rgba(37, 154, 221, 0.521);
    font-family: italic;
    text-align: center;
}
body{
    Background-color:skyblue;
    font-family: 'Courier New', Courier, monospace;
}
footer{
    Background-color:white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
table{
    Background-color: rgba(37, 154, 221, 0.521);
}
h4{
    Background-color: rgba(37, 154, 221, 0.521);
}